# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
input_boolean: !include input_booleans.yaml
input_number: !include input_numbers.yaml
rest_command: !include rest_commands.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

http:
  trusted_proxies:
    - 192.168.1.7
    - 192.168.3.55
  use_x_forwarded_for: true